.del-bg {
    filter: brightness(50%);
}
.bg-Back:hover {
    .delImg {
        display: flex !important;
    }
    .hovered-back {
        display: flex !important;
    }
}
.error-input{
    border-color: red !important;
}
.image-name{
    background: #85B8D7;
border-radius: 2px;
}